/* --------------- /блок о компании ---------*/
.info-conteiner {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/fonInfo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right 60%;
    height: 50vh;
  }
  
  .info-compane {
    position: relative;
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .info-compane > h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .info-text {
    padding: 2rem;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.4);
    color: $whiteColor;
    width: 60%;
    border-radius: 5px;
    text-shadow: black 1px 0 10px;
  }
  .info-text > h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .info-text > p {
    padding-top: 1rem;
  }
  
  .button-info {
    position: absolute;
    right: 3.5rem;
    top: 3rem;
  }