.page-contacts {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
  h1 {
    color: #bf0000;
    font-size: 1.7rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
}
